.containt {
	width: 140px;
	height: 140px;
	border-radius: 20rem;
	padding: 50px;
	margin: 2px;
}
.card {
	width: 15rem;
	padding: 10px;
	align-items: center;
	background-image: linear-gradient(to right, #3be4497a, #2b60de);
	border: black;
	border-radius: 10%;
	box-shadow: 10px 10px 10px;
	margin: 5px;
}
.image {
	border-radius: 5rem;
	width: 140px;
	height: 140px;
}
