.circle {

	margin-right: 600px;
	margin-left: 200px;
	margin-top: 50px;
	padding:0px;
	align-items: center;
	justify-content: center;
	
}
@media screen and (max-width: 1200px) {
	.circle {
		margin: 0px;
		padding: 0px;
		margin-left: 0px;
	}
}
