body{
    background-color: white;
}
.btn{
    margin-top: 100px;
    margin-left: 80px;
    width: 45%;
    text-align:center;
}
.dropdown-menu{
    width: 45%;
    height: 300%;
    min-height: 120%;
    border-color: black;
}
.container{
    margin-left: '00px';
}